@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Architects Daughter", cursive;
}

body {
  height: 100vh;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.game-title{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.game {
  width: 60vh;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "item-1 item-2 item-3"
    "item-4 item-5 item-6"
    "item-7 item-8 item-9";
}

.item {
  border: 1px solid grey;
  font-size: 10em;
  display: grid;
  place-items: center;
}

#item-1 {
  grid-area: item-1;
  border-top: none;
  border-left: none;
}
#item-2 {
  grid-area: item-2;
  border-top: none;
}
#item-3 {
  grid-area: item-3;
  border-top: none;
  border-right: none;
}
#item-4 {
  grid-area: item-4;
  border-left: none;
}
#item-5 {
  grid-area: item-5;
}
#item-6 {
  grid-area: item-6;
  border-right: none;
}
#item-7 {
  grid-area: item-7;
  border-bottom: none;
  border-left: none;
}
#item-8 {
  grid-area: item-8;
  border-bottom: none;
}
#item-9 {
  grid-area: item-9;
  border-bottom: none;
  border-right: none;
}


label{
  display: block;
}
.left-score, .right-score{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.right-score{
  left: 80%;
}
.name-player-one, .name-player-two{
  font-size: 2em;
  font-weight: bold;
}
.score-player-one, .score-player-two{
  font-size: 10em;
}


button {
  padding: 1em 3em;
  background: none;
  outline: none;
  border: 2px solid grey;
  cursor: pointer;
  transition: all .3s ease;
}
button:hover{
  background: grey;
  color: white;
}
.btn-1, .btn-2{
  position: absolute;
  top: 90%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.btn-2{
  left: 55%;
}
